@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

legend {
  color: hsla(0, 0%, 0%, 0.6);
  font-size: 24px;
  font-weight: bold;
}

/* fieldset div > label {
  display:block;
  margin-bottom: 8px;
} */
