@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

legend {
  color: #0000008e;
  font-size: 24px;
  font-weight: bold;
  background: #fff;
  border-radius: 8px 8px 0;
  padding: 0 12px;
}

/* Hide default radio button */
.custom-radio {
  appearance: none; /* Removes default styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid gray;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Change the border and background on hover */
.custom-radio:hover {
  border-color: #6f1455;
}

/* Styling the checked state */
.custom-radio:checked {
  border-color: #6f1455;
  background-color: white;
}

/* Add a dot in the center when checked */
.custom-radio:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #6f1455;
  border-radius: 50%;
}

textarea {
  scrollbar-width: thin; /* Thin scrollbar */
}
